<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>I hate pig latin</title>
  </head>
  <body>
    <h1>I hate pit latin</h1>
    <%=     @phrase.to_pig_latin(params[:user_phrase]) %>

  </body>
</html>
